@model Bueller.Client.Models.Class

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.FirstName) @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollmentCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollmentCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassDays)
        </dd>

        <dt>
            Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTimeFormatted) -
            @Html.DisplayFor(model => model.EndTimeFormatted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Books:
        </dt>

        @if (Model.Books != null && Model.Books.Any())
        {
            foreach (var item in Model.Books)
            {
                string a = "http://localhost:4200/detail/" + item.BookId;
                <dd>
                    <a href=@a> @Html.DisplayFor(modelItem => item.Title) </a>
                </dd>
            }
        }

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ClassId }) |*@
    @if ((ViewBag.Goto as string).Equals("all"))
        { @Html.ActionLink("Back to List", "Index") }
    else if ((ViewBag.Goto as string).Equals("my"))
        { @Html.ActionLink("Back to List", "MyClasses") }
</p>