@model IEnumerable<Bueller.Client.Models.Class>

@{
    ViewBag.Title = "Index";
}

<h2>All Classes</h2>

@if (ViewBag.Role == "teacher")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassDays)
        </th>
        <th>
            Time
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.FirstName) @Html.DisplayFor(modelItem => item.Teacher.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTimeFormatted) -
                @Html.DisplayFor(modelItem => item.EndTimeFormatted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @if (ViewBag.Role == "student")
                {
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ClassId }) | @Html.ActionLink("Enroll", "EnrollConfirm", new { id = item.ClassId })</p>
                }
                else
                {
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ClassId })@if (item.TeacherId == null)
                                        {<text> | @Html.ActionLink("Enroll", "EnrollConfirm", new { id = item.ClassId })</text>}</p>
                }

                @*|
                    @Html.ActionLink("Assignments", "Index", "Assignment", new { id = item.ClassId }, null) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClassId })*@
            </td>
        </tr>
        }
    }

</table>