@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<Bueller.Client.Models.File>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Assignment)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assignment)
            </td>
            <li>@Html.ActionLink("Grade", "Create", "Grade", new { id = item.FileId }, null)</li>
        </tr>
    }

</table>