@model IEnumerable<Bueller.Client.Models.File>

@{
    ViewBag.Title = "GetByIdStudent";
}

<h2>Submitted Files</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Grade
        </th>
        <th>
            Submitted On
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Grade == null)
            {<text>N/A</text> }
        else
        {@Html.DisplayFor(modelItem => item.Grade.Score)}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td align="right">
            @Html.ActionLink("Edit", "Edit", new { id = item.FileId }) |
            @*@Html.ActionLink("Details", "Details", new { id = item.FileId }) |*@
            @*@Html.ActionLink("Grade File", "Create", "Grade", new { fileId = item.FileId }, null) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.FileId })
        </td>
    </tr>
        }
    }

</table>