@model IEnumerable<Bueller.Client.Models.File>

@{
    ViewBag.Title = "GetByIdAssignment";
}

<h2>Files</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Grade
        </th>
        <th>
            Feedback
        </th>
        <th>
            Submitted On
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Score == null)
            {<text>Not graded</text> }
        else
        {@Html.DisplayFor(modelItem => item.Score)}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.FileId }) |*@
            @Html.ActionLink("Grade File", "Grade", new { id = item.FileId }) @*|
            @Html.ActionLink("Details", "Details", new { id=item.FileId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileId })*@
        </td>
    </tr>
    }

</table>