@model IEnumerable<Bueller.Client.Models.File>

@{
    ViewBag.Title = "GetByIdStudent";
}

<h2>Submitted Files</h2>

<p>@if (!ViewBag.PastDue) {@Html.ActionLink("Add File", "AddFile", new { AssignmentId = ViewBag.AssignmentId, StudentId = Request.Cookies["Id"].Value })}</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Grade
        </th>
        <th>
            Feedback
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Submitted)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Score == null)
            {<text>Not graded</text> }
        else
        {@Html.DisplayFor(modelItem => item.Score)}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td align="right">
            @Html.ActionLink("Edit", "Edit", new { id = item.FileId })@if (item.Score == null)
            {<text> |</text>
            @Html.ActionLink("Delete", "Delete", new { id = item.FileId })}
        @*@Html.ActionLink("Details", "Details", new { id = item.FileId }) |*@
        @*@Html.ActionLink("Grade File", "Create", "Grade", new { fileId = item.FileId }, null) |*@
        </td>
    </tr>
        }
    }

</table>

<div>
    <p>
        @Html.ActionLink("Back to Assignments", "Index", "Assignment", new { id = ViewBag.ClassId }, null)
    </p>
</div>